.top_header {
  flex-shrink: 0;
}
.topnav {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }

/* [5] */
.topnav::-webkit-scrollbar {
  display: none;
 }

.topnav {
padding: 12px 16px;
  direction: rtl;
  text-align: center;
  background:#5CA4A9;
  opacity: 60%;
  color:white;
  /* overflow: hidden; */
}
.topnav a {
  font-family: shabnam;
  direction: rtl;
  /* float: none; */
  display: inline;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background: #387175;
   color:white;
}
main{
  flex: 1;
  overflow: auto;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(92,164,169);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}