<h1>FoodCategories</h1>

{% for foodc in object_list %}
      <p>food category:{{foodc.name}}</p>
      <ul>
      <p>foods:</p>
      {% for food in foodc.Food_FoodCategory.all %}
          <ul><a href={{food.get_absolute_url}}>{{food.food_name}}</a></ul>

      {% empty %}
          <li>No Food yet.</li>
      {% endfor %}
      </ul>

      <form method="post">
           {% csrf_token %}
          <input type="hidden" name="foodcategory_id" value="{{foodc.pk}}">
          <p><input type="submit" value="this" ></p>
      </form>
      <a href="{% url 'restaurant_admin:FoodCategory_delete' pk=foodc.pk %}">delete</a></ul>
{% empty %}
    <li>No FoodCategory yet.</li>
{% endfor %}
{%if chosen_object%}
    <p>name</p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>category :{{update_form.name}} {{update_form.name.errors}}</p>
        <input type='hidden' name='pk' value="{{chosen_object.pk}}">
        <input type="submit" name= "edit" value="Update">
      </form>

{%endif%}
<p><a href="{% url 'restaurant_admin:FoodCategory_create' %}">FoodCategory create</a>  </p>
<a href="{% url 'restaurant_admin:admin_home' %}">Home</a>
<p><a href="{% url 'restaurant_admin:FoodHome_detail' %}">back to foods</a></p>
